body {
  background-color: white;
  /* display: flex; */
}
.mbox {
  display: flex;
  /* justify-content: space-around; */
}

.box1 {
  height: 250px;
  width: 250px;
  background-color: red;
  margin: 3px;
}
.box2 {
  height: 250px;
  width: 250px;
  background-color: green;
  margin: 3px;
}

.box3 {
  height: 250px;
  width: 250px;
  background-color: blue;
  margin: 3px;
}
